<% content_for(:title, @user.name)%>
<article>
	<header>
		<h1><%= @user.name%></h1>
		<h5><%= @user.email%></h5>
	</header>
	<% if @registrations.any? %>
		<h3>Registered For</h3>
		<ul>
			<% @registrations.each do |registration|%>
				<li>
					<%= link_to registration.event.name, registration.event %>
					(<%= time_ago_in_words(registration.created_at) %> ago)			
				</li>
			<%end%>
		</ul>	
	<%end%>	

	<%=content_for(:side) do %>
		<%if @liked_events.any?%>
			<h3>Liked Events</h3>
			<ul>
				<%@liked_events.each do |like_event| %>
					<li>
						<%= link_to like_event.name, like_event %>
					</li>
				<%end%>
			</ul>
		<%end%>			
	<%end%>	
</article>

<% if current_user?(@user) %>
	<%= link_to  "Edit Account", edit_user_path(@user) %> | 
	<%= link_to  "Delete Account", user_path(@user), method: :delete, data: {confirm: "Are you sure?"} %>
<%end%>	