<h1><%=pluralize(@registrations.size, 'Registration')%> for <%= link_to @event.name , @event %></h1>

<ul>
	<%@registrations.each do |r| %>
		<li>Name: <%=link_to r.name, event_registration_path(@event,r.id)%></li><br/>
		<li>Email: <%= r.email%></li><br/>
		<li>How_Heard: <%= r.how_heard%></li><br/>
		s<hr>
	<% end %>
</ul>


