<h1><%= pluralize(@events.size, 'Event') %> </h1>

<% @events.each do |event| %>
	<article>
		<header>
			<%= image_for(event) %><br/>	
			<strong><%= link_to event.name, event %></strong>
		</header>
		<p>
			<%= truncate(event.description, length: 27, separator: ' ') %>
		</p>
		<table>
			<tr>
				<th>When</th>
				<td><%= event.starts_at %></td>
			</tr>
			
			<tr>
				<th>Where</th>
				<td><%= event.location %></td>
			</tr>
			
			<tr>
				<th>Price:</th>
				<td><%= format_price(event) %></td>
			</tr>

			<tr>
				<th>Capacity:</th>
				<td><%= pluralize(event.spots_left, 'spot') %> available </td>
			</tr>
		</table>
	</article><hr></hr>


<% end %>


